@media print {
  body {
    background: #fff !important;
    color: #000 !important;
    font-size: 12pt;
  }

  main,
  section,
  aside {
    box-shadow: none !important;
    background: transparent !important;
  }

  button,
  nav,
  a[href^="/"] {
    display: none !important;
  }
}

